@keyframes slideIn {
    from {
        transform: translateX(-10%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.comment-list {
    display: flex;
    flex-direction: column;
    gap: 1em;

    .comment-preview {
        animation: slideIn 0.3s ease-in-out;
    }
}